/*Themes*/
:root{
    --gray0:#f8f8f8;
    --gray1:#dbe1e8;
    --gray2:#b2becd;
    --gray3:#6c7983;
    --gray4:#454e56;
    --gray5:#2a2e35;
    --gray6:#12181b;
    --blue:#0084a5;
    --purple:#a82dd1;
    --yellow:#fff565;
}
.light{
    --bg:var(--gray0);
    --bg-nav:linear-gradient(to right,var(--gray1),var(--gray3));
    --bg-dropdown:var(--gray0);
    --text:var(--gray6);
    --border-color:var(--blue);
    --bg-solar:var(--yellow);
}
.dark{
    --bg:var(--gray5);
    --bg-nav:linear-gradient(to right,var(--gray5),var(--gray6));
    --bg-dropdown:var(--gray6);
    --text:var(--gray0);
}
.solar{
    --gray0:#fbffd4;
    --gray1:#f7f8d0;
    --gray2:#b6f880;
    --gray3:#5ec72d;
    --gray4:#3ea565;
    --gray5:#005368;
    --gray6:#003d4c; 
}
/*Header CSS */
header{
    position: relative;
    background: red;
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
    padding-bottom: 5.5em;
    clip-path:polygon(50% 0,100% 0,100% 65%,50% 100%,0 65%,0 0) ;
}

/*Logo*/
.logo{
    position: relative;
    margin-top: 4.5em;
    width: 150px;
    
}


main{
    margin-left: 70px;
    margin-right: 70px;
    font-size: 25px;
    text-align: center;
}
.Picker{
    position: relative;
    text-align: center;
}
.Chart{
    position: relative;
    text-align: center;
    height: 600px;
    width: 600px;
    margin:0 auto
}
.LinkToMap{
    width: 220px;
    height: 40px;
    margin: 0 auto;
}
.LinkToMap button{
    border-radius: 10px 10px 10px 10px;
    background: wheat;
    border: none;
    cursor: pointer;
}
/*Small Screens*/
@media screen and (max-width:320px){
    .Chart{
        position: relative;
        height: 320px;
        width: 290px;
    }
    main{
        margin:0px auto;
        font-size: 25px;

    }
    .Chart h2{
        font-size: 20px;
        line-height: 21px;
        
    }
}
@media screen and (max-width:425px){
    .Chart{
        position: relative;
        height: 320px;
        width: 300px;
    }
    main{
        margin:0px auto;
        font-size: 25px;

    }
    .Chart h2{
        font-size: 20px;
        line-height: 21px;
        
    }
    
}
@media screen and (max-width:375px){
    .Chart{
        position: relative;
        height: 320px;
        width: 300px;
    }
    .Chart h2{
        font-size: 20px;
        line-height: 21px;
        
    }
    main{
        margin:0px auto;
        font-size: 25px;

    }
}
